/* font family */
@font-face {
    font-family: 'customFont1';
    src: url('../Fonts/1.woff');
  }
  @font-face {
    font-family: 'customFont2';
    src: url('../Fonts/2.woff');
  }
  @font-face {
    font-family: 'customFont3';
    src: url('../Fonts/3.woff');
  }
  @font-face {
    font-family: 'customFont4';
    src: url('../Fonts/4.woff');
  }
  @font-face {
    font-family: 'customFont5';
    src: url('../Fonts/5.woff');
  }
  @font-face {
    font-family: 'customFont6';
    src: url('../Fonts/6.woff');
  }
  @font-face {
    font-family: 'customFont7';
    src: url('../Fonts/7.woff');
  }
  @font-face {
    font-family: 'customFont8';
    src: url('../Fonts/8.woff');
  }
  @font-face {
    font-family: 'customFont9';
    src: url('../Fonts/9.woff');
  }
  @font-face {
    font-family: 'customFont10';
    src: url('../Fonts/10.woff');
  }
  @font-face {
    font-family: 'customFont11';
    src: url('../Fonts/11.woff');
  }
  @font-face {
    font-family: 'customFont12';
    src: url('../Fonts/12.woff');
  }
  @font-face {
    font-family: 'customFont13';
    src: url('../Fonts/13.woff');
  }
  @font-face {
    font-family: 'customFont14';
    src: url('../Fonts/14.woff');
  }
  @font-face {
    font-family: 'customFont15';
    src: url('../Fonts/15.woff');
  }
  @font-face {
    font-family: 'customFont16';
    src: url('../Fonts/16.woff');
  }
  @font-face {
    font-family: 'customFont17';
    src: url('../Fonts/17.woff');
  }
  @font-face {
    font-family: 'customFont18';
    src: url('../Fonts/18.woff');
  }
  @font-face {
    font-family: 'customFont19';
    src: url('../Fonts/19.woff');
  }
  @font-face {
    font-family: 'customFont20';
    src: url('../Fonts/20.woff');
  }
  @font-face {
    font-family: 'customFont21';
    src: url('../Fonts/21.woff');
  }
  @font-face {
    font-family: 'customFont22';
    src: url('../Fonts/22.woff');
  }
  @font-face {
    font-family: 'customFont23';
    src: url('../Fonts/23.woff');
  }
  @font-face {
    font-family: 'customFont24';
    src: url('../Fonts/24.woff');
  }
  @font-face {
    font-family: 'customFont25';
    src: url('../Fonts/25.woff');
  }
  @font-face {
    font-family: 'customFont26';
    src: url('../Fonts/26.woff');
  }
  @font-face {
    font-family: 'customFont27';
    src: url('../Fonts/27.woff');
  }
  @font-face {
    font-family: 'customFont28';
    src: url('../Fonts/28.woff');
  }
  @font-face {
    font-family: 'customFont29';
    src: url('../Fonts/29.woff');
  }
  @font-face {
    font-family: 'customFont30';
    src: url('../Fonts/30.woff');
  }
  @font-face {
    font-family: 'customFont31';
    src: url('../Fonts/31.woff');
  }
  @font-face {
    font-family: 'customFont32';
    src: url('../Fonts/32.woff');
  }
  @font-face {
    font-family: 'customFont33';
    src: url('../Fonts/33.woff');
  }
  @font-face {
    font-family: 'customFont34';
    src: url('../Fonts/34.woff');
  }
  @font-face {
    font-family: 'customFont35';
    src: url('../Fonts/35.woff');
  }
  @font-face {
    font-family: 'customFont36';
    src: url('../Fonts/36.woff');
  }
  @font-face {
    font-family: 'customFont37';
    src: url('../Fonts/37.woff');
  }
  @font-face {
    font-family: 'customFont38';
    src: url('../Fonts/38.woff');
  }
  @font-face {
    font-family: 'customFont39';
    src: url('../Fonts/39.woff');
  }
  @font-face {
    font-family: 'customFont40';
    src: url('../Fonts/40.woff');
  }
  @font-face {
    font-family: 'customFont41';
    src: url('../Fonts/41.woff');
  }
  @font-face {
    font-family: 'customFont42';
    src: url('../Fonts/42.woff');
  }
  @font-face {
    font-family: 'customFont43';
    src: url('../Fonts/43.woff');
  }
  @font-face {
    font-family: 'customFont44';
    src: url('../Fonts/44.woff');
  }
  @font-face {
    font-family: 'customFont45';
    src: url('../Fonts/45.woff');
  }
  @font-face {
    font-family: 'customFont46';
    src: url('../Fonts/46.woff');
  }
  @font-face {
    font-family: 'customFont47';
    src: url('../Fonts/47.woff');
  }
  @font-face {
    font-family: 'customFont48';
    src: url('../Fonts/48.woff');
  }
  @font-face {
    font-family: 'customFont49';
    src: url('../Fonts/49.woff');
  }
  @font-face {
    font-family: 'customFont50';
    src: url('../Fonts/50.woff');
  }
  @font-face {
    font-family: 'customFont51';
    src: url('../Fonts/51.woff');
  }
  @font-face {
    font-family: 'customFont52';
    src: url('../Fonts/52.woff');
  }
  @font-face {
    font-family: 'customFont53';
    src: url('../Fonts/53.woff');
  }
  @font-face {
    font-family: 'customFont54';
    src: url('../Fonts/54.woff');
  }
  @font-face {
    font-family: 'customFont55';
    src: url('../Fonts/55.woff');
  }
  @font-face {
    font-family: 'customFont56';
    src: url('../Fonts/56.woff');
  }
  @font-face {
    font-family: 'customFont57';
    src: url('../Fonts/57.woff');
  }
  @font-face {
    font-family: 'customFont58';
    src: url('../Fonts/58.woff');
  }
  @font-face {
    font-family: 'customFont59';
    src: url('../Fonts/59.woff');
  }
  @font-face {
    font-family: 'customFont60';
    src: url('../Fonts/60.woff');
  }
  @font-face {
    font-family: 'customFont61';
    src: url('../Fonts/61.woff');
  }
  @font-face {
    font-family: 'customFont62';
    src: url('../Fonts/62.woff');
  }
  @font-face {
    font-family: 'customFont63';
    src: url('../Fonts/63.woff');
  }
  @font-face {
    font-family: 'customFont64';
    src: url('../Fonts/64.woff');
  }
  @font-face {
    font-family: 'customFont65';
    src: url('../Fonts/65.woff');
  }
  @font-face {
    font-family: 'customFont66';
    src: url('../Fonts/66.woff');
  }
  @font-face {
    font-family: 'customFont67';
    src: url('../Fonts/67.woff');
  }
  @font-face {
    font-family: 'customFont68';
    src: url('../Fonts/68.woff');
  }
  @font-face {
    font-family: 'customFont69';
    src: url('../Fonts/69.woff');
  }
  @font-face {
    font-family: 'customFont70';
    src: url('../Fonts/70.woff');
  }
  @font-face {
    font-family: 'customFont71';
    src: url('../Fonts/71.woff');
  }
  @font-face {
    font-family: 'customFont72';
    src: url('../Fonts/72.woff');
  }
  @font-face {
    font-family: 'customFont73';
    src: url('../Fonts/73.woff');
  }
  @font-face {
    font-family: 'customFont74';
    src: url('../Fonts/74.woff');
  }
  @font-face {
    font-family: 'customFont75';
    src: url('../Fonts/75.woff');
  }
  @font-face {
    font-family: 'customFont76';
    src: url('../Fonts/76.woff');
  }
  @font-face {
    font-family: 'customFont77';
    src: url('../Fonts/77.woff');
  }
  @font-face {
    font-family: 'customFont78';
    src: url('../Fonts/78.woff');
  }
  @font-face {
    font-family: 'customFont79';
    src: url('../Fonts/79.woff');
  }
  @font-face {
    font-family: 'customFont80';
    src: url('../Fonts/80.woff');
  }
  @font-face {
    font-family: 'customFont81';
    src: url('../Fonts/81.woff');
  }
  @font-face {
    font-family: 'customFont82';
    src: url('../Fonts/82.woff');
  }
  @font-face {
    font-family: 'customFont83';
    src: url('../Fonts/83.woff');
  }
  @font-face {
    font-family: 'customFont84';
    src: url('../Fonts/84.woff');
  }
  @font-face {
    font-family: 'customFont85';
    src: url('../Fonts/85.woff');
  }
  @font-face {
    font-family: 'customFont86';
    src: url('../Fonts/86.woff');
  }
  @font-face {
    font-family: 'customFont87';
    src: url('../Fonts/87.woff');
  }
  @font-face {
    font-family: 'customFont88';
    src: url('../Fonts/88.woff');
  }
  @font-face {
    font-family: 'customFont89';
    src: url('../Fonts/89.woff');
  }
  @font-face {
    font-family: 'customFont90';
    src: url('../Fonts/90.woff');
  }
  @font-face {
    font-family: 'customFont91';
    src: url('../Fonts/91.woff');
  }
  @font-face {
    font-family: 'customFont92';
    src: url('../Fonts/92.woff');
  }
  @font-face {
    font-family: 'customFont93';
    src: url('../Fonts/93.woff');
  }
  @font-face {
    font-family: 'customFont94';
    src: url('../Fonts/94.woff');
  }
  @font-face {
    font-family: 'customFont95';
    src: url('../Fonts/95.woff');
  }
  @font-face {
    font-family: 'customFont96';
    src: url('../Fonts/96.woff');
  }
  @font-face {
    font-family: 'customFont97';
    src: url('../Fonts/97.woff');
  }
  @font-face {
    font-family: 'customFont98';
    src: url('../Fonts/98.woff');
  }
  @font-face {
    font-family: 'customFont99';
    src: url('../Fonts/99.woff');
  }
  @font-face {
    font-family: 'customFont100';
    src: url('../Fonts/100.woff');
  }
  @font-face {
    font-family: 'customFont101';
    src: url('../Fonts/101.woff');
  }